.layout{
  background-size: 100% 100%;
    background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-image: radial-gradient(30% 50% at 6% 86%, #543c2e48 0%, transparent 100%), radial-gradient(40% 80% at 50% 50%, #5e36bb67 4%, transparent 100%), radial-gradient(65% 56% at 99% 84%, #ce2e2811 9%, #073AFF00 100%), radial-gradient(24% 36% at 87% 8%, #585f192d 24%, #073AFF00 100%), linear-gradient(46deg, #000000 1%, #070707 100%);
}